.works {
  margin: 15px 25px;
  background-color: #272b32;
  border-radius: 20px;
  border: 1px solid #374151;
  padding: 60px 40px 40px;
}
.works .recent-works {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: #d1d5db;
  font-size: 1.3rem;
  margin-bottom: 40px;
}
.works .recent-works i {
  font-size: 0.7rem;
}
@media (max-width: 480px) {
  .works .recent-works {
    font-size: 1.15rem;
  }
  .works .recent-works i {
    font-size: 0.62rem;
  }
}
.works .portfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.works .portfo .x,
.works .portfo .apple,
.works .portfo .freelance,
.works .portfo .startup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works .portfo .x h5,
.works .portfo .apple h5,
.works .portfo .freelance h5,
.works .portfo .startup h5 {
  font-size: 1.2rem;
  color: #e5e7eb;
  margin-bottom: 7px;
}
.works .portfo .job p {
  color: #d1d5db;
  font-size: 0.95rem;
}
.works .portfo .company h5 {
  font-size: 1rem;
  color: #d1d5db;
}
@media (max-width: 600px) {
  .works i {
    font-size: 0.6rem;
  }
  .works h4 {
    font-size: 1.1rem;
  }
  .works .portfo h5 {
    font-size: 1rem !important;
  }
  .works .portfo p {
    font-size: 0.8rem !important;
  }
  .works .portfo .company h5 {
    font-size: 0.9rem !important;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .works {
    padding: 40px 30px 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.grid .about-work {
  margin-right: 0 !important;
}
.grid .features {
  margin-left: 0 !important;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid .about-work {
    margin-right: 25px !important;
  }
  .grid .features {
    margin-left: 25px !important;
  }
}

.about-work {
  margin: 15px 25px;
  background-color: #272b32;
  border-radius: 20px;
  border: 1px solid #374151;
  padding: 40px 40px 40px;
}
.about-work h3 {
  color: #f3f4f6;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.about-work p {
  font-size: 0.9rem;
  color: #d1d5db;
}
@media (max-width: 768px) {
  .about-work {
    padding: 40px 30px 40px;
  }
  .about-work h3 {
    font-size: 1.3rem;
    margin-bottom: 25px;
  }
  .about-work p {
    font-size: 0.9rem;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px 25px;
  gap: 15px;
}
.features .first,
.features .second,
.features .third,
.features .fourth {
  background-color: #272b32;
  border-radius: 20px;
  border: 1px solid #374151;
  padding: 25px 20px;
}
.features .first h5,
.features .second h5,
.features .third h5,
.features .fourth h5 {
  font-size: 1rem;
  color: #e5e7eb;
  margin-bottom: 15px;
}
.features .first p,
.features .second p,
.features .third p,
.features .fourth p {
  font-size: 0.85rem;
  color: #d1d5db;
}
@media (max-width: 600px) {
  .features {
    grid-template-columns: 1fr;
  }
}

.about {
  margin: 15px 25px;
  background-color: #272b32;
  border-radius: 20px;
  border: 1px solid #374151;
  display: flex;
  justify-content: space-between;
  padding: 60px 40px 80px;
}
.about .about-info h3 {
  color: #d1d5db;
  padding-top: 50px;
  font-size: 1.5rem;
  margin-bottom: 70px;
}
.about .about-info h2 {
  color: #f3f4f6;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.about .about-info p {
  color: #d1d5db;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.about .about-info .about-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.about .about-info .about-btn a {
  color: #e5e7eb;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 400;
  transition: all 300ms;
  border-radius: 7px;
}
.about .about-info .about-btn a i {
  font-size: 1.3rem;
}
.about .about-info .about-btn .about-btn_first {
  background-color: #0284c7;
  color: #f3f4f6;
  border: 1px solid transparent;
}
.about .about-info .about-btn .about-btn_first:hover {
  background-color: #0095df;
  scale: 1.01;
}
.about .about-info .about-btn .about-btn_second {
  border: 1px solid #374151;
  color: #f3f4f6;
  background-color: #212529;
}
.about .about-info .about-btn .about-btn_second:hover {
  scale: 1.01;
  background-color: hsl(227, 29%, 5%);
}
@media (max-width: 600px) {
  .about .about-info h3 {
    font-size: 1.3rem;
    margin-bottom: 40px;
  }
  .about .about-info h2 {
    font-size: 1.8rem;
  }
  .about .about-info p {
    font-size: 1rem;
  }
}
.about .about-pic {
  width: 250px;
}
.about .about-pic .about-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 1px solid #374151;
  border-radius: 20px;
  background-color: #212529;
  margin-bottom: 60px;
  padding: 5px 0;
}
.about .about-pic .about-status i {
  color: #0284c7;
  font-size: 0.8rem;
}
.about .about-pic .about-status a {
  text-decoration: none;
  color: #f3f4f6;
  transition: all 300ms;
}
.about .about-pic .about-status a:hover {
  color: #0284c7;
}
.about .about-pic .about-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #374151;
  display: flex;
  align-items: center;
  transition: all 300ms;
  justify-content: center;
}
.about .about-pic .about-img img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
.about .about-pic .about-img img:hover {
  scale: 1.05;
}
@media (max-width: 1024px) {
  .about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 45px 35px 65px !important;
  }
  .about .about-status {
    margin-bottom: 45px;
  }
  .about .about-btn {
    gap: 10px !important;
    flex-direction: column;
    align-items: flex-start !important;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 40px 30px 60px;
  }
}

footer {
  margin: 15px 25px;
  background-color: #272b32;
  border-radius: 20px;
  border: 1px solid #374151;
  padding: 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer {
    padding: 30px 20px 30px;
    flex-direction: column;
    gap: 20px;
  }
}
footer .name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
footer .name span {
  font-size: 1.3rem;
  font-weight: 500;
  color: #e5e7eb;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
footer .links a {
  font-size: 1rem;
  color: #d1d5db;
  text-decoration: none;
  transition: all 300ms;
}
footer .links a:hover {
  color: #0284c7;
}
footer .about-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 1px solid #374151;
  border-radius: 20px;
  background-color: #272b32;
  padding: 5px 20px;
}
footer .about-status i {
  color: #0284c7;
  font-size: 0.8rem;
}
footer .about-status a {
  text-decoration: none;
  color: #f3f4f6;
  transition: all 300ms;
}
footer .about-status a:hover {
  color: #0284c7;
}

header {
  margin: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #374151;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272b32;
}
header .logo img {
  width: 45px;
  height: 45px;
}
header nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background-color: #272b32;
  border: 1px solid #374151;
  border-radius: 50px;
}
header nav a {
  color: #f3f4f6;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 300ms;
}
header nav a:hover {
  color: #0284c7;
}
header nav .selected {
  color: #0284c7 !important;
  font-weight: 700;
}
@media (max-width: 1024px) {
  header .logo img {
    width: 42px;
    height: 42px;
  }
  header nav {
    padding: 0 40px;
  }
  header nav a {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  header nav a {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    height: 90px;
  }
  header nav a {
    font-size: 1.1rem;
  }
  header .logo {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 320px) {
  header nav {
    flex-direction: column;
    height: 80px;
  }
  header nav a {
    font-size: 0.79rem;
  }
  header .logo {
    width: 80px;
    height: 80px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

body {
  background-color: #212529;
}

/*# sourceMappingURL=style.css.map */
