.about {
  margin: 15px 25px;
  background-color: $secondary;
  border-radius: 20px;
  border: 1px solid $border;
  display: flex;
  justify-content: space-between;
  padding: 60px 40px 80px;

  .about-info {
    h3 {
      color: $text-darker;
      padding-top: 50px;
      font-size: 1.5rem;
      margin-bottom: 70px;
    }

    h2 {
      color: $text-primary;
      font-size: 2rem;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }

    p {
      color: $text-darker;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    .about-btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      a {
        color: $text-secondary;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: 400;
        transition: all 300ms;
        border-radius: 7px;
        i {
          font-size: 1.3rem;
        }
      }

      .about-btn_first {
        background-color: $accent;
        color: $text-primary;
        border: 1px solid transparent;
        &:hover {
          background-color: #0095df;
          scale: 1.01;
        }
      }

      .about-btn_second {
        border: 1px solid $border;
        color: $text-primary;
        background-color: $primary;
        &:hover {
          scale: 1.01;
          background-color: hsl(227, 29%, 5%);
        }
      }
    }

    @media (max-width: $large-mobile) {
      h3 {
        font-size: 1.3rem;
        margin-bottom: 40px;
      }

      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .about-pic {
    width: 250px;
    .about-status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      border: 1px solid $border;
      border-radius: 20px;
      background-color: $primary;
      margin-bottom: 60px;
      padding: 5px 0;
      i {
        color: $accent;
        font-size: 0.8rem;
      }
      a {
        text-decoration: none;
        color: $text-primary;
        transition: all 300ms;
        &:hover {
          color: $accent;
        }
      }
    }

    .about-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: $border;
      display: flex;
      align-items: center;
      transition: all 300ms;
      justify-content: center;

      img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 300ms;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }

  @include query($small-desktop) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  @media (max-width: $mobile) {
    padding: 45px 35px 65px !important;

    .about-status {
      margin-bottom: 45px;
    }

    .about-btn {
      gap: 10px !important;
      flex-direction: column;
      align-items: flex-start !important;
    }
  }
  @media (max-width: 768px) {
    padding: 40px 30px 60px;
  }
}
