// COLORS
$light-background: #f1f1f1;
$about-background: #e9ecef;
$extreme-dark-background: #1f1f1f;
$dark-background: #343a40;
$extreme-dark-text: #212529;
$dark-text: #343a40;
$light-dark-text: #606060;
$light-dark-text-2: #898989;
$light-text: #f8f9fa;
$border: #ced4da;
$projects: #262626;

// RWD BREAKPOINTS
$desktop: 1200px;
$small-desktop: 1024px;
$tablets: 768px;
$mobile: 480px;
$small-mobile: 320px;
