// COLORS
$primary: #030712;
$secondary: #111827;
$accent: #0284c7;
$text-primary: #f3f4f6;
$text-secondary: #e5e7eb;
$text-darker: #d1d5db;

// RWD BREAKPOINTS
$desktop: 1200px;
$small-desktop: 1024px;
$tablets: 768px;
$mobile: 480px;
$small-mobile: 320px;
