// Imports
@import "variables";
@import "works";
@import "mixins";
@import "about";
@import "footer";
@import "header";

// Defualts
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
}
